.App {
  align-items: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  width: 100%;
  justify-items: center;
}

.App-Title {
  background: #000;
  color: #eee;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.SearchForm {
  width: 800px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 150px;
  align-items: center;
  grid-column-gap: 50px;
}

.SearchForm-item {
  grid-column: 1;
  margin: 0 !important;
}

.SearchForm-button {
  grid-column: 2;
}

.WeatherIcon {
  width: 100px;
}